* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f1822;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


